<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FloatingPlaceholder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34DB30EE1E976E2C000605C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DB31021E976E3A000605C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DB310D1E976E3D000605C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
